#services
    padding: 40px 0
    .box
        width: 410px
        height: 300px
        h1
            font-weight: 700
            font-size: 42px
            line-height: 2
        h2
            font-weight: 700
            font-size: 30px
            margin: 15px 0
        p
            font-size: 17px
            line-height: 1.4
    .btn
        width: 100px
        height: 100px
        background-color: #eeae19
        color: #ffff
        border-radius: 50px
