#welcome
    .box
        width: 1536px
        height: 695px
        background-image: url(Assets/headerbg.jpg)
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        position: absolute
        top: 0px
        left: 0px
    .textbox
        h1
            font-weight: 700
            font-size: 40px
            color: #ffff
            line-height: 1.5
        h2
            font-weight: 700
            font-size: 80px
            color: #ffff
            line-height: 1.5
    .btn
        width: 147px
        height: 50px
        background-color: #d2b618ea
        color: #ffff
        position: absolute
        top: 450px
        left: 690px
        h3
            margin: 6px